@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */

.playfair-display-font {
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #9795f0 0%, #fbc8d4 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* .remote-cursor {
  border-left: 2px solid red;
  width: 2px;
  margin-left: -1px;
} */

.cursor-label::after {
  content: "👤 User";
  color: white;
  background: red;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 3px;
  margin-left: 5px;
}